footer.footer
  .container
    .logo-foot
      a(href="#")
        img(src="images/logo.png", alt="")
    .flex-wrap.middle-xs.center-xs
      .foot-cont
        i.icon-placeholder
        | Los Angeles, CA
      .foot-cont
        i.icon-email
        a(href="mailto:info@autisminvestorsummit.com") info@autisminvestorsummit.com
      .foot-cont
        i.icon-phone
        a(href="tel:424-372-7996") 424-372-7996
    .social.flex-wrap.middle-xs.center-xs
      a(href="#")
        i.icon-twitter
      a(href="#")
        i.icon-facebook
//- #rememberPass.fancybox-content.modal(style="display: none;")
//-     .modal__title Напомнить пароль
//-     .modal__content
//-       form(action="#").js_validate
//-         .input-field.required-field.flex-wrap.middle-xs(data-error="Неверно заполненное поле")
//-           .label-field E-mail
//-           input(type="email",required, data-validate="email")
//-         button(type="submit").btn Отправить

//- script(src='js/all-plugins.min.js')
script(src='js/main.js')