header.header#home
  .container
    .flex-wrap.between-xs.middle-xs
      .logo
        a(href="#")
          img(src="images/logo.png", alt="")
      nav.navigate
        ul.flex-wrap.middle-xs
          li
            a(href="#why", data-hover="WHY NOW") WHY NOW
          li
            a(href="#opportunity", data-hover="OPPORTUNITY") OPPORTUNITY
          li
            a(href="#sponsor",data-hover="SPONSORSHIP") SPONSORSHIP
          li
            a(href="#agenda" ,data-hover="AGENDA") AGENDA
          li
            a(href="#reg", data-hover="REGISTER") REGISTER
      .header-right
        a(href="#").btn Registration
      span.menu-button
        span
        span
        span
       
















                                        





