/*--------- font-face ---------*/
@font-face {
    font-family: 'Raleway-Bold';
    src: url('fonts/Raleway-Bold.eot');
    src: url('fonts/Raleway-Bold.eot') format('embedded-opentype'),
         url('fonts/Raleway-Bold.woff') format('woff'),
         url('fonts/Raleway-Bold.ttf') format('truetype'),
         url('fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
}
@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url('fonts/Raleway-ExtraBold.eot');
    src: url('fonts/Raleway-ExtraBold.eot') format('embedded-opentype'),
         url('fonts/Raleway-ExtraBold.woff') format('woff'),
         url('fonts/Raleway-ExtraBold.ttf') format('truetype'),
         url('fonts/Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg');
}
@font-face {
    font-family: 'Raleway-Medium';
    src: url('fonts/Raleway-Medium.eot');
    src: url('fonts/Raleway-Medium.eot') format('embedded-opentype'),
         url('fonts/Raleway-Medium.woff') format('woff'),
         url('fonts/Raleway-Medium.ttf') format('truetype'),
         url('fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
}
@font-face {
    font-family: 'Raleway-Regular';
    src: url('fonts/Raleway-Regular.eot');
    src: url('fonts/Raleway-Regular.eot') format('embedded-opentype'),
         url('fonts/Raleway-Regular.woff') format('woff'),
         url('fonts/Raleway-Regular.ttf') format('truetype'),
         url('fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
}
@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('fonts/Raleway-SemiBold.eot');
    src: url('fonts/Raleway-SemiBold.eot') format('embedded-opentype'),
         url('fonts/Raleway-SemiBold.woff') format('woff'),
         url('fonts/Raleway-SemiBold.ttf') format('truetype'),
         url('fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
}
@font-face {
    font-family: 'Gotham-Pro-Black';
    src: url('fonts/11024.eot');
    src: url('fonts/11024.eot') format('embedded-opentype'),
         url('fonts/11024.woff') format('woff'),
         url('fonts/11024.ttf') format('truetype'),
         url('fonts/11024.svg#11024') format('svg');
}

